In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [2]:
athlete=pd.read_csv('athlete_events.csv')
athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
region=pd.read_csv('noc_regions.csv')
region.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [4]:
df = pd.merge(athlete,region, how='outer', sort=True, on=['NOC'])
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,502.0,Ahmad Shah Abouwi,M,NaN,NaN,NaN,Afghanistan,AFG,1956 Summer,1956.0,Summer,Melbourne,Hockey,Hockey Men's Hockey,NaN,Afghanistan,NaN
1,1076.0,Jammal-ud-Din Affendi,M,28.0,NaN,NaN,Afghanistan,AFG,1936 Summer,1936.0,Summer,Berlin,Hockey,Hockey Men's Hockey,NaN,Afghanistan,NaN
2,1101.0,Mohammad Anwar Afzal,M,NaN,NaN,NaN,Afghanistan,AFG,1948 Summer,1948.0,Summer,London,Football,Football Men's Football,NaN,Afghanistan,NaN
3,1745.0,Mohammad Aktar,M,17.0,156.0,48.0,Afghanistan,AFG,1980 Summer,1980.0,Summer,Moskva,Wrestling,"Wrestling Men's Light-Flyweight, Freestyle",NaN,Afghanistan,NaN
4,4628.0,Mohammad Daoud Anwary,M,22.0,NaN,NaN,Afghanistan,AFG,1964 Summer,1964.0,Summer,Tokyo,Wrestling,"Wrestling Men's Bantamweight, Freestyle",NaN,Afghanistan,NaN

In [5]:
df_swim=df[['Sex','Age','Height','Team','Year','Season','City','Medal']]

In [6]:
age_array = df_swim[df["Age"]!=np.nan]["Age"]

df_swim["Age"].replace(np.nan,age_array.mean())

0         25.556898
1         28.000000
2         25.556898
3         17.000000
4         22.000000
5         25.556898
6         17.000000
7         25.556898
8         25.556898
9         22.000000
10        25.556898
11        25.000000
12        21.000000
13        27.000000
14        25.556898
15        19.000000
16        23.000000
17        27.000000
18        21.000000
19        24.000000
20        28.000000
21        30.000000
22        25.556898
23        25.556898
24        22.000000
25        23.000000
26        27.000000
27        20.000000
28        24.000000
29        25.556898
            ...
271087    25.000000
271088    35.000000
271089    23.000000
271090    24.000000
271091    26.000000
271092    41.000000
271093    32.000000
271094    28.000000
271095    28.000000
271096    32.000000
271097    28.000000
271098    26.000000
271099    29.000000
271100    31.000000
271101    26.000000
271102    24.000000
271103    24.000000
271104    34.000000
271105    28.000000
271106    24.000000
271107    44.000000
271108    19.000000
271109    19.000000
271110    23.000000
271111    15.000000
271112    15.000000
271113    15.000000
271114    20.000000
271115    16.000000
271116    23.000000
Name: Age, Length: 271117, dtype: float64

In [7]:
def func(y):
        if y== 'Gold':
            return 1
        elif y== 'Silver':
            return 2
        elif y== 'Bronze':
            return 3
        else:
            return 0
df_swim['Medal_encoded']=df_swim['Medal'].apply(func)

print(df_swim)

       Sex   Age  Height         Team    Year  Season            City Medal  \
0        M   NaN     NaN  Afghanistan  1956.0  Summer       Melbourne   NaN
1        M  28.0     NaN  Afghanistan  1936.0  Summer          Berlin   NaN
2        M   NaN     NaN  Afghanistan  1948.0  Summer          London   NaN
3        M  17.0   156.0  Afghanistan  1980.0  Summer          Moskva   NaN
4        M  22.0     NaN  Afghanistan  1964.0  Summer           Tokyo   NaN
5        M   NaN     NaN  Afghanistan  1972.0  Summer          Munich   NaN
6        M  17.0     NaN  Afghanistan  1936.0  Summer          Berlin   NaN
7        M   NaN     NaN  Afghanistan  1948.0  Summer          London   NaN
8        M   NaN     NaN  Afghanistan  1948.0  Summer          London   NaN
9        M  22.0     NaN  Afghanistan  1936.0  Summer          Berlin   NaN
10       M   NaN     NaN  Afghanistan  1948.0  Summer          London   NaN
11       M  25.0   160.0  Afghanistan  1980.0  Summer          Moskva   NaN
12       M  21.0   176.0  Afghanistan  1968.0  Summer     Mexico City   NaN
13       M  27.0     NaN  Afghanistan  1936.0  Summer          Berlin   NaN
14       M   NaN     NaN  Afghanistan  1948.0  Summer          London   NaN
15       M  19.0   168.0  Afghanistan  2004.0  Summer          Athina   NaN
16       M  23.0   168.0  Afghanistan  2008.0  Summer         Beijing   NaN
17       M  27.0   168.0  Afghanistan  2012.0  Summer          London   NaN
18       M  21.0     NaN  Afghanistan  1936.0  Summer          Berlin   NaN
19       M  24.0   186.0  Afghanistan  2008.0  Summer         Beijing   NaN
20       M  28.0   186.0  Afghanistan  2012.0  Summer          London   NaN
21       M  30.0   181.0  Afghanistan  2016.0  Summer  Rio de Janeiro   NaN
22       M   NaN     NaN  Afghanistan  1948.0  Summer          London   NaN
23       M   NaN     NaN  Afghanistan  1988.0  Summer           Seoul   NaN
24       M  22.0   170.0  Afghanistan  1968.0  Summer     Mexico City   NaN
25       M  23.0   180.0  Afghanistan  1968.0  Summer     Mexico City   NaN
26       M  27.0   180.0  Afghanistan  1972.0  Summer          Munich   NaN
27       M  20.0   165.0  Afghanistan  1968.0  Summer     Mexico City   NaN
28       M  24.0   165.0  Afghanistan  1972.0  Summer          Munich   NaN
29       M   NaN     NaN  Afghanistan  1964.0  Summer           Tokyo   NaN
...     ..   ...     ...          ...     ...     ...             ...   ...
271087   M  25.0   175.0     Zimbabwe  1964.0  Summer           Tokyo   NaN
271088   F  35.0   158.0     Zimbabwe  2008.0  Summer         Beijing   NaN
271089   M  23.0   162.0     Zimbabwe  1988.0  Summer           Seoul   NaN
271090   M  24.0   175.0     Zimbabwe  2016.0  Summer  Rio de Janeiro   NaN
271091   M  26.0   183.0     Zimbabwe  1988.0  Summer           Seoul   NaN
271092   M  41.0   177.0     Zimbabwe  1988.0  Summer           Seoul   NaN
271093   M  32.0   185.0     Zimbabwe  1964.0  Summer           Tokyo   NaN
271094   M  28.0   178.0     Zimbabwe  2000.0  Summer          Sydney   NaN
271095   M  28.0   178.0     Zimbabwe  2000.0  Summer          Sydney   NaN
271096   M  32.0   178.0     Zimbabwe  2004.0  Summer          Athina   NaN
271097   M  28.0   178.0     Zimbabwe  1964.0  Summer           Tokyo   NaN
271098   M  26.0   179.0     Zimbabwe  1964.0  Summer           Tokyo   NaN
271099   M  29.0   174.0     Zimbabwe  1964.0  Summer           Tokyo   NaN
271100   F  31.0   187.0     Zimbabwe  1984.0  Summer     Los Angeles   NaN
271101   F  26.0   150.0     Zimbabwe  1980.0  Summer          Moskva  Gold
271102   M  24.0   188.0     Zimbabwe  2000.0  Summer          Sydney   NaN
271103   M  24.0   188.0     Zimbabwe  2000.0  Summer          Sydney   NaN
271104   M  34.0   187.0     Zimbabwe  1984.0  Summer     Los Angeles   NaN
271105   F  28.0     NaN     Zimbabwe  1992.0  Summer       Barcelona   NaN
271106   F  24.0   165.0     Zimbabwe  1980.0  Summer          Moskva  Gold
271107   M  44.0   186.0     Zimbabwe  1980.0  Summer          Moskva   NaN
271108   F  19.0   162.0     Zimbabwe  1980.0  Summer          Moskva   NaN
271109   F  19.0   162.0     Zimbabwe  1980.0  Summer          Moskva   NaN
271110   F  23.0   162.0     Zimbabwe  1984.0  Summer     Los Angeles   NaN
271111   F  15.0   157.0     Zimbabwe  1960.0  Summer            Roma   NaN
271112   F  15.0   157.0     Zimbabwe  1960.0  Summer            Roma   NaN
271113   F  15.0   157.0     Zimbabwe  1960.0  Summer            Roma   NaN
271114   M  20.0   185.0     Zimbabwe  1980.0  Summer          Moskva   NaN
271115   F  16.0   172.0     Zimbabwe  1964.0  Summer           Tokyo   NaN
271116   M  23.0   190.0     Zimbabwe  2004.0  Summer          Athina   NaN

        Medal_encoded
0                   0
1                   0
2                   0
3                   0
4                   0
5                   0
6                   0
7                   0
8                   0
9                   0
10                  0
11                  0
12                  0
13                  0
14                  0
15                  0
16                  0
17                  0
18                  0
19                  0
20                  0
21                  0
22                  0
23                  0
24                  0
25                  0
26                  0
27                  0
28                  0
29                  0
...               ...
271087              0
271088              0
271089              0
271090              0
271091              0
271092              0
271093              0
271094              0
271095              0
271096              0
271097              0
271098              0
271099              0
271100              0
271101              1
271102              0
271103              0
271104              0
271105              0
271106              1
271107              0
271108              0
271109              0
271110              0
271111              0
271112              0
271113              0
271114              0
271115              0
271116              0

[271117 rows x 9 columns]

/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
def func(X):
        if X== 'M':
            return 1
        else:
            return 0
        
df_swim['Gender_encoded']=df_swim['Sex'].apply(func)

/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [10]:
from sklearn import linear_model
%matplotlib inline
X=df_swim[[Sex, Age,Height]]
y =df_swim [Medal]

NameError: name 'Sex' is not defined

In [49]:
from sklearn import linear_model
%matplotlib inline
X=df_swim[[Age,Height]]
y =df_swim [Medal]

NameError: name 'Age' is not defined

In [14]:
from sklearn.cluster import SpectralClustering
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.9,
    random_state=42)

n_clusters=3

sc = SpectralClustering(n_clusters=n_clusters)

predict=sc.fit_predict(X_train)

plt.scatter(X_train.iloc[:, 0], X_train.iloc[:, 1], c=predict)
plt.show()

print('Comparing the assigned categories to the ones in the data:')
print(pd.crosstab(y_train,predict))

ValueError: could not convert string to float: 'F'