In [25]:
import numpy as np
import pandas as pd
import scipy
from datetime import datetime
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
from sklearn.preprocessing import Binarizer
from sklearn.metrics import f1_score, mean_squared_error
from sklearn.model_selection import train_test_split
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn import datasets, linear_model

from sklearn.model_selection import train_test_split


%matplotlib inline

In [14]:
data_ny=pd.read_csv('nyc_census_tracts.csv',keep_default_na=False, na_values=[""])
data_ny.head()

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,36005000100,Bronx,Bronx,7703,7133,570,29.9,6.1,60.9,0.2,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,43.0,2308,80.8,16.2,2.9,0.0,7.7
2,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,45.0,2675,71.7,25.3,2.5,0.6,9.5
3,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,38.8,2120,75.0,21.3,3.8,0.0,8.7
4,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,45.4,1083,76.8,15.5,7.7,0.0,19.2

In [15]:
data_census=pd.read_csv('census_block_loc.csv',keep_default_na=False, na_values=[""])
data_census.head()

   Latitude  Longitude        BlockCode     County State
0     40.48 -74.280000  340230076002012  Middlesex    NJ
1     40.48 -74.276834  340230076005000  Middlesex    NJ
2     40.48 -74.273668  340230076003018  Middlesex    NJ
3     40.48 -74.270503  340230076003004  Middlesex    NJ
4     40.48 -74.267337  340230074021000  Middlesex    NJ

In [16]:
data_census['BlockCode_11'] = data_census['BlockCode'].apply(lambda x: int(str(x)[0:11]))

In [17]:
df_census= pd.merge(left=data_ny,right= data_census, how='inner', on=None, left_on='CensusTract', right_on='BlockCode_11',
        left_index=False, right_index=False, sort=True,
        suffixes=('_x', '_y'), copy=True, indicator=False,
        validate=None)
df_census.head

<bound method NDFrame.head of        CensusTract  County_x        Borough  TotalPop   Men  Women  Hispanic  \
0      36005000100     Bronx          Bronx      7703  7133    570      29.9
1      36005000100     Bronx          Bronx      7703  7133    570      29.9
2      36005000100     Bronx          Bronx      7703  7133    570      29.9
3      36005000100     Bronx          Bronx      7703  7133    570      29.9
4      36005000100     Bronx          Bronx      7703  7133    570      29.9
5      36005000100     Bronx          Bronx      7703  7133    570      29.9
6      36005000100     Bronx          Bronx      7703  7133    570      29.9
7      36005000100     Bronx          Bronx      7703  7133    570      29.9
8      36005000100     Bronx          Bronx      7703  7133    570      29.9
9      36005000100     Bronx          Bronx      7703  7133    570      29.9
10     36005000100     Bronx          Bronx      7703  7133    570      29.9
11     36005000100     Bronx          Bronx      7703  7133    570      29.9
12     36005000100     Bronx          Bronx      7703  7133    570      29.9
13     36005000100     Bronx          Bronx      7703  7133    570      29.9
14     36005000100     Bronx          Bronx      7703  7133    570      29.9
15     36005000100     Bronx          Bronx      7703  7133    570      29.9
16     36005000100     Bronx          Bronx      7703  7133    570      29.9
17     36005000100     Bronx          Bronx      7703  7133    570      29.9
18     36005000100     Bronx          Bronx      7703  7133    570      29.9
19     36005000100     Bronx          Bronx      7703  7133    570      29.9
20     36005000100     Bronx          Bronx      7703  7133    570      29.9
21     36005000100     Bronx          Bronx      7703  7133    570      29.9
22     36005000100     Bronx          Bronx      7703  7133    570      29.9
23     36005000100     Bronx          Bronx      7703  7133    570      29.9
24     36005000100     Bronx          Bronx      7703  7133    570      29.9
25     36005000100     Bronx          Bronx      7703  7133    570      29.9
26     36005000100     Bronx          Bronx      7703  7133    570      29.9
27     36005000100     Bronx          Bronx      7703  7133    570      29.9
28     36005000100     Bronx          Bronx      7703  7133    570      29.9
29     36005000100     Bronx          Bronx      7703  7133    570      29.9
...            ...       ...            ...       ...   ...    ...       ...
18022  36085990100  Richmond  Staten Island         0     0      0       NaN
18023  36085990100  Richmond  Staten Island         0     0      0       NaN
18024  36085990100  Richmond  Staten Island         0     0      0       NaN
18025  36085990100  Richmond  Staten Island         0     0      0       NaN
18026  36085990100  Richmond  Staten Island         0     0      0       NaN
18027  36085990100  Richmond  Staten Island         0     0      0       NaN
18028  36085990100  Richmond  Staten Island         0     0      0       NaN
18029  36085990100  Richmond  Staten Island         0     0      0       NaN
18030  36085990100  Richmond  Staten Island         0     0      0       NaN
18031  36085990100  Richmond  Staten Island         0     0      0       NaN
18032  36085990100  Richmond  Staten Island         0     0      0       NaN
18033  36085990100  Richmond  Staten Island         0     0      0       NaN
18034  36085990100  Richmond  Staten Island         0     0      0       NaN
18035  36085990100  Richmond  Staten Island         0     0      0       NaN
18036  36085990100  Richmond  Staten Island         0     0      0       NaN
18037  36085990100  Richmond  Staten Island         0     0      0       NaN
18038  36085990100  Richmond  Staten Island         0     0      0       NaN
18039  36085990100  Richmond  Staten Island         0     0      0       NaN
18040  36085990100  Richmond  Staten Island         0     0      0       NaN
18041  36085990100  Richmond  Staten Island         0     0      0       NaN
18042  36085990100  Richmond  Staten Island         0     0      0       NaN
18043  36085990100  Richmond  Staten Island         0     0      0       NaN
18044  36085990100  Richmond  Staten Island         0     0      0       NaN
18045  36085990100  Richmond  Staten Island         0     0      0       NaN
18046  36085990100  Richmond  Staten Island         0     0      0       NaN
18047  36085990100  Richmond  Staten Island         0     0      0       NaN
18048  36085990100  Richmond  Staten Island         0     0      0       NaN
18049  36085990100  Richmond  Staten Island         0     0      0       NaN
18050  36085990100  Richmond  Staten Island         0     0      0       NaN
18051  36085990100  Richmond  Staten Island         0     0      0       NaN

       White  Black  Native  ...  PublicWork  SelfEmployed  FamilyWork  \
0        6.1   60.9     0.2  ...         NaN           NaN         NaN
1        6.1   60.9     0.2  ...         NaN           NaN         NaN
2        6.1   60.9     0.2  ...         NaN           NaN         NaN
3        6.1   60.9     0.2  ...         NaN           NaN         NaN
4        6.1   60.9     0.2  ...         NaN           NaN         NaN
5        6.1   60.9     0.2  ...         NaN           NaN         NaN
6        6.1   60.9     0.2  ...         NaN           NaN         NaN
7        6.1   60.9     0.2  ...         NaN           NaN         NaN
8        6.1   60.9     0.2  ...         NaN           NaN         NaN
9        6.1   60.9     0.2  ...         NaN           NaN         NaN
10       6.1   60.9     0.2  ...         NaN           NaN         NaN
11       6.1   60.9     0.2  ...         NaN           NaN         NaN
12       6.1   60.9     0.2  ...         NaN           NaN         NaN
13       6.1   60.9     0.2  ...         NaN           NaN         NaN
14       6.1   60.9     0.2  ...         NaN           NaN         NaN
15       6.1   60.9     0.2  ...         NaN           NaN         NaN
16       6.1   60.9     0.2  ...         NaN           NaN         NaN
17       6.1   60.9     0.2  ...         NaN           NaN         NaN
18       6.1   60.9     0.2  ...         NaN           NaN         NaN
19       6.1   60.9     0.2  ...         NaN           NaN         NaN
20       6.1   60.9     0.2  ...         NaN           NaN         NaN
21       6.1   60.9     0.2  ...         NaN           NaN         NaN
22       6.1   60.9     0.2  ...         NaN           NaN         NaN
23       6.1   60.9     0.2  ...         NaN           NaN         NaN
24       6.1   60.9     0.2  ...         NaN           NaN         NaN
25       6.1   60.9     0.2  ...         NaN           NaN         NaN
26       6.1   60.9     0.2  ...         NaN           NaN         NaN
27       6.1   60.9     0.2  ...         NaN           NaN         NaN
28       6.1   60.9     0.2  ...         NaN           NaN         NaN
29       6.1   60.9     0.2  ...         NaN           NaN         NaN
...      ...    ...     ...  ...         ...           ...         ...
18022    NaN    NaN     NaN  ...         NaN           NaN         NaN
18023    NaN    NaN     NaN  ...         NaN           NaN         NaN
18024    NaN    NaN     NaN  ...         NaN           NaN         NaN
18025    NaN    NaN     NaN  ...         NaN           NaN         NaN
18026    NaN    NaN     NaN  ...         NaN           NaN         NaN
18027    NaN    NaN     NaN  ...         NaN           NaN         NaN
18028    NaN    NaN     NaN  ...         NaN           NaN         NaN
18029    NaN    NaN     NaN  ...         NaN           NaN         NaN
18030    NaN    NaN     NaN  ...         NaN           NaN         NaN
18031    NaN    NaN     NaN  ...         NaN           NaN         NaN
18032    NaN    NaN     NaN  ...         NaN           NaN         NaN
18033    NaN    NaN     NaN  ...         NaN           NaN         NaN
18034    NaN    NaN     NaN  ...         NaN           NaN         NaN
18035    NaN    NaN     NaN  ...         NaN           NaN         NaN
18036    NaN    NaN     NaN  ...         NaN           NaN         NaN
18037    NaN    NaN     NaN  ...         NaN           NaN         NaN
18038    NaN    NaN     NaN  ...         NaN           NaN         NaN
18039    NaN    NaN     NaN  ...         NaN           NaN         NaN
18040    NaN    NaN     NaN  ...         NaN           NaN         NaN
18041    NaN    NaN     NaN  ...         NaN           NaN         NaN
18042    NaN    NaN     NaN  ...         NaN           NaN         NaN
18043    NaN    NaN     NaN  ...         NaN           NaN         NaN
18044    NaN    NaN     NaN  ...         NaN           NaN         NaN
18045    NaN    NaN     NaN  ...         NaN           NaN         NaN
18046    NaN    NaN     NaN  ...         NaN           NaN         NaN
18047    NaN    NaN     NaN  ...         NaN           NaN         NaN
18048    NaN    NaN     NaN  ...         NaN           NaN         NaN
18049    NaN    NaN     NaN  ...         NaN           NaN         NaN
18050    NaN    NaN     NaN  ...         NaN           NaN         NaN
18051    NaN    NaN     NaN  ...         NaN           NaN         NaN

       Unemployment   Latitude  Longitude        BlockCode  County_y  State  \
0               NaN  40.787538 -73.887437  360050001001007     Bronx     NY
1               NaN  40.787538 -73.884271  360050001001005     Bronx     NY
2               NaN  40.787538 -73.881106  360050001001003     Bronx     NY
3               NaN  40.787538 -73.877940  360050001001003     Bronx     NY
4               NaN  40.787538 -73.874774  360050001001006     Bronx     NY
5               NaN  40.787538 -73.871608  360050001001006     Bronx     NY
6               NaN  40.789799 -73.887437  360050001001011     Bronx     NY
7               NaN  40.789799 -73.884271  360050001001013     Bronx     NY
8               NaN  40.789799 -73.881106  360050001001003     Bronx     NY
9               NaN  40.789799 -73.877940  360050001001003     Bronx     NY
10              NaN  40.789799 -73.874774  360050001001006     Bronx     NY
11              NaN  40.789799 -73.871608  360050001000002     Bronx     NY
12              NaN  40.792060 -73.896935  360050001000002     Bronx     NY
13              NaN  40.792060 -73.893769  360050001000002     Bronx     NY
14              NaN  40.792060 -73.890603  360050001001012     Bronx     NY
15              NaN  40.792060 -73.887437  360050001001019     Bronx     NY
16              NaN  40.792060 -73.884271  360050001001014     Bronx     NY
17              NaN  40.792060 -73.881106  360050001001003     Bronx     NY
18              NaN  40.792060 -73.877940  360050001001003     Bronx     NY
19              NaN  40.792060 -73.874774  360050001001006     Bronx     NY
20              NaN  40.792060 -73.871608  360050001000002     Bronx     NY
21              NaN  40.794322 -73.896935  360050001000002     Bronx     NY
22              NaN  40.794322 -73.893769  360050001000002     Bronx     NY
23              NaN  40.794322 -73.890603  360050001001009     Bronx     NY
24              NaN  40.794322 -73.887437  360050001001015     Bronx     NY
25              NaN  40.794322 -73.884271  360050001001015     Bronx     NY
26              NaN  40.794322 -73.881106  360050001001000     Bronx     NY
27              NaN  40.794322 -73.877940  360050001000002     Bronx     NY
28              NaN  40.794322 -73.874774  360050001000002     Bronx     NY
29              NaN  40.794322 -73.871608  360050001000001     Bronx     NY
...             ...        ...        ...              ...       ...    ...
18022           NaN  40.586281 -74.048894  360859901000002  Richmond     NY
18023           NaN  40.586281 -74.045729  360859901000002  Richmond     NY
18024           NaN  40.586281 -74.042563  360859901000002  Richmond     NY
18025           NaN  40.586281 -74.039397  360859901000002  Richmond     NY
18026           NaN  40.588543 -74.052060  360859901000002  Richmond     NY
18027           NaN  40.588543 -74.048894  360859901000002  Richmond     NY
18028           NaN  40.588543 -74.045729  360859901000002  Richmond     NY
18029           NaN  40.588543 -74.042563  360859901000002  Richmond     NY
18030           NaN  40.588543 -74.039397  360859901000002  Richmond     NY
18031           NaN  40.590804 -74.052060  360859901000002  Richmond     NY
18032           NaN  40.590804 -74.048894  360859901000002  Richmond     NY
18033           NaN  40.590804 -74.045729  360859901000002  Richmond     NY
18034           NaN  40.590804 -74.042563  360859901000002  Richmond     NY
18035           NaN  40.590804 -74.039397  360859901000002  Richmond     NY
18036           NaN  40.593065 -74.052060  360859901000002  Richmond     NY
18037           NaN  40.593065 -74.048894  360859901000002  Richmond     NY
18038           NaN  40.593065 -74.045729  360859901000002  Richmond     NY
18039           NaN  40.593065 -74.042563  360859901000002  Richmond     NY
18040           NaN  40.593065 -74.039397  360859901000002  Richmond     NY
18041           NaN  40.595327 -74.048894  360859901000002  Richmond     NY
18042           NaN  40.595327 -74.045729  360859901000002  Richmond     NY
18043           NaN  40.595327 -74.042563  360859901000002  Richmond     NY
18044           NaN  40.597588 -74.048894  360859901000002  Richmond     NY
18045           NaN  40.597588 -74.045729  360859901000002  Richmond     NY
18046           NaN  40.597588 -74.042563  360859901000002  Richmond     NY
18047           NaN  40.599849 -74.045729  360859901000002  Richmond     NY
18048           NaN  40.599849 -74.042563  360859901000002  Richmond     NY
18049           NaN  40.602111 -74.045729  360859901000002  Richmond     NY
18050           NaN  40.602111 -74.042563  360859901000002  Richmond     NY
18051           NaN  40.604372 -74.042563  360859901000001  Richmond     NY

       BlockCode_11
0       36005000100
1       36005000100
2       36005000100
3       36005000100
4       36005000100
5       36005000100
6       36005000100
7       36005000100
8       36005000100
9       36005000100
10      36005000100
11      36005000100
12      36005000100
13      36005000100
14      36005000100
15      36005000100
16      36005000100
17      36005000100
18      36005000100
19      36005000100
20      36005000100
21      36005000100
22      36005000100
23      36005000100
24      36005000100
25      36005000100
26      36005000100
27      36005000100
28      36005000100
29      36005000100
...             ...
18022   36085990100
18023   36085990100
18024   36085990100
18025   36085990100
18026   36085990100
18027   36085990100
18028   36085990100
18029   36085990100
18030   36085990100
18031   36085990100
18032   36085990100
18033   36085990100
18034   36085990100
18035   36085990100
18036   36085990100
18037   36085990100
18038   36085990100
18039   36085990100
18040   36085990100
18041   36085990100
18042   36085990100
18043   36085990100
18044   36085990100
18045   36085990100
18046   36085990100
18047   36085990100
18048   36085990100
18049   36085990100
18050   36085990100
18051   36085990100

[18052 rows x 42 columns]>

In [18]:
df= pd.read_csv('NY_bike_close.csv').dropna(axis=0)
df.head()

,Unnamed: 0,start_station_id,start_station_latitude,start_station_longitude,tripduration,tmp,CensusTract,County_x,Borough,TotalPop,...,FamilyWork,Unemployment,Latitude,Longitude,BlockCode,County_y,State,BlockCode_11,borough_distance,distance_rank
0,6521,72.0,40.767272,-73.993929,3607,tmp,36061013500,New York,Manhattan,6384,...,0.0,5.7,40.767186,-73.995075,360610135002005,New York,NY,36061013500,0.097058,1.0
2,42233,82.0,40.711174,-74.000165,1214,tmp,36061002900,New York,Manhattan,6050,...,0.0,3.3,40.710653,-74.001407,360610029004022,New York,NY,36061002900,0.119646,1.0
3,56934,83.0,40.683826,-73.976323,1623,tmp,36047012901,Kings,Brooklyn,2577,...,0.0,5.7,40.683518,-73.976080,360470129011002,Kings,NY,36047012901,0.039960,1.0
4,78536,116.0,40.741776,-74.001497,5761,tmp,36061008300,New York,Manhattan,3929,...,0.0,11.3,40.742312,-74.001407,360610083001000,New York,NY,36061008300,0.060052,1.0
5,93334,119.0,40.696089,-73.978034,454,tmp,36047021100,Kings,Brooklyn,1362,...,0.0,9.2,40.697085,-73.979246,360470211001001,Kings,NY,36047021100,0.150738,1.0

In [19]:
df['log_tripcount']=np.log(df.tripduration)

In [20]:
df.columns

Index(['Unnamed: 0', 'start_station_id', 'start_station_latitude',
       'start_station_longitude', 'tripduration', 'tmp', 'CensusTract',
       'County_x', 'Borough', 'TotalPop', 'Men', 'Women', 'Hispanic', 'White',
       'Black', 'Native', 'Asian', 'Citizen', 'Income', 'IncomeErr',
       'IncomePerCap', 'IncomePerCapErr', 'Poverty', 'ChildPoverty',
       'Professional', 'Service', 'Office', 'Construction', 'Production',
       'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp', 'WorkAtHome',
       'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork', 'SelfEmployed',
       'FamilyWork', 'Unemployment', 'Latitude', 'Longitude', 'BlockCode',
       'County_y', 'State', 'BlockCode_11', 'borough_distance',
       'distance_rank', 'log_tripcount'],
      dtype='object')

In [21]:
df_predict= df_census[['TotalPop','Women','Income','Poverty','Drive','WorkAtHome','MeanCommute',
     'Citizen','IncomePerCap']].dropna(axis=0)

In [26]:
y=df.log_tripcount
X= df_predict
(X_train, X_test, y_train, y_test)=train_test_split(X,y,test_size=0.25)
lr=LinearRegression()

ValueError: Found input variables with inconsistent numbers of samples: [11783, 1495]