In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.model_selection import train_test_split
%matplotlib inline

In [113]:
data = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1
)

/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [114]:
data['id'] = pd.to_numeric(data['id'], errors='coerce')
data['int_rate'] = pd.to_numeric(data['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
data.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
           'sub_grade', 'addr_state', 'desc','funded_amnt','funded_amnt_inv','pct_tl_nvr_dlq','total_il_high_credit_limit',
          'open_il_6m','open_il_12m','open_il_24m', 'mths_since_rcnt_il','total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
          'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m','acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
          'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct','chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
          'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl','mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
          'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl','num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
          'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m','num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
          'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens','tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
          'total_rec_int', 'total_rec_late_fee', 'recoveries','collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
          'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med','mths_since_last_major_derog', 'policy_code', 'application_type',
          'annual_inc_joint', 'dti_joint', 'verification_status_joint','acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
          'open_acc_6m', 'mths_since_recent_inq','mths_since_recent_revol_delinq','total_rec_prncp','total_pymnt_inv','out_prncp_inv','initial_list_status',
          'pub_rec','delinq_2yrs','dti','purpose','inq_last_6mths','mths_since_last_record','title','out_prncp'], 1, inplace=True)

In [115]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'term', 'int_rate', 'installment',
       'grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'mths_since_last_delinq', 'open_acc', 'revol_bal', 'total_acc',
       'total_pymnt'],
      dtype='object')

In [116]:
data = data[:-2]

In [117]:
pd.get_dummies(data)
data[0:5]

,id,member_id,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,mths_since_last_delinq,open_acc,revol_bal,total_acc,total_pymnt
0,68009401.0,72868139.0,16000.0,60 months,14.85,379.39,C,10+ years,MORTGAGE,48000.0,Not Verified,Dec-2015,Current,n,33.0,11.0,19108.0,19.0,4519.68
1,68354783.0,73244544.0,9600.0,36 months,7.49,298.58,A,8 years,MORTGAGE,60000.0,Not Verified,Dec-2015,Current,n,NaN,7.0,7722.0,9.0,3572.97
2,68466916.0,73356753.0,25000.0,36 months,7.49,777.55,A,10+ years,MORTGAGE,109000.0,Not Verified,Dec-2015,Fully Paid,n,NaN,9.0,20862.0,19.0,26224.23
3,68466961.0,73356799.0,28000.0,36 months,6.49,858.05,A,10+ years,MORTGAGE,92000.0,Not Verified,Dec-2015,Current,n,42.0,16.0,51507.0,24.0,10271.36
4,68495092.0,73384866.0,8650.0,36 months,19.89,320.99,E,8 years,RENT,55000.0,Verified,Dec-2015,Fully Paid,n,NaN,18.0,9568.0,19.0,9190.49

In [118]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = data.drop('loan_status', 1)
Y = data['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.6983686 , 0.39300895, 0.37128066, 0.55527059, 0.32310615,
       0.39061981, 0.27008478, 0.34904652, 0.29239794, 0.37317722])

In [119]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

rf = RandomForestClassifier() 
(X_train, X_test, Y_train, Y_test)=train_test_split(X,Y,test_size=0.25)

rf.fit(X_train, Y_train) 

rf.score(X_test, Y_test)

/Users/amyscott/anaconda2/envs/nthinkfulpython/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.909692801641431

In [110]:
serio = pd.Series(data=rf.feature_importances_, index=X_train.columns)
serio_sorted = serio.sort_values(ascending=False)

In [111]:
display(serio)

id                                               0.023253
member_id                                        0.026112
loan_amnt                                        0.045293
int_rate                                         0.016569
installment                                      0.048218
annual_inc                                       0.019484
inq_last_6mths                                   0.006078
open_acc                                         0.013895
revol_bal                                        0.022714
total_acc                                        0.016594
out_prncp                                        0.458813
total_pymnt                                      0.226920
term_ 36 months                                  0.002331
term_ 60 months                                  0.004836
grade_A                                          0.002097
grade_B                                          0.001537
grade_C                                          0.001806
grade_D                                          0.001531
grade_E                                          0.001973
grade_F                                          0.001734
grade_G                                          0.000486
emp_length_1 year                                0.001668
emp_length_10+ years                             0.002761
emp_length_2 years                               0.001971
emp_length_3 years                               0.001698
emp_length_4 years                               0.001461
emp_length_5 years                               0.001578
emp_length_6 years                               0.001165
emp_length_7 years                               0.001312
emp_length_8 years                               0.001392
                                                   ...
issue_d_Oct-2015                                 0.001167
issue_d_Sep-2015                                 0.000915
pymnt_plan_n                                     0.000000
title_Business                                   0.000552
title_Car financing                              0.000409
title_Credit Card/Auto Repair                    0.000000
title_Credit card refinancing                    0.002196
title_Debt consolidation                         0.002616
title_DebtC                                      0.000000
title_Green loan                                 0.000066
title_Home buying                                0.000258
title_Home improvement                           0.001289
title_Learning and training                      0.000000
title_Major purchase                             0.000778
title_Medical expenses                           0.000508
title_Moving and relocation                      0.000411
title_New Baby and New House (CC Consolidate)    0.000000
title_Other                                      0.001278
title_Pay off Lowes Card                         0.000000
title_Paying off higher interest cards & auto    0.000000
title_Prescription Drug and Medical Costs        0.000002
title_SAVE                                       0.000000
title_Simple Loan Until Contract Is Completed    0.000000
title_Student Loan                               0.000000
title_Trying to come back to reality!            0.000000
title_Vacation                                   0.000411
title_considerate                                0.000000
title_new day                                    0.000000
title_new kitchen for momma!                     0.000000
title_odymeds                                    0.000000
Length: 79, dtype: float64